{% extends "skeleton.html" %}
{% load leaflet_tags %}
{% block link %}
    {% leaflet_css plugins="ALL" %}
{% endblock %}
{% block script %}
    {% leaflet_js plugins="ALL" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="span8">
        <h2>Foodcheck Locator</h2>
        	{% leaflet_map "main" %}
			<script type="text/javascript">
    			function mainInit(map, bounds) {L.marker([37.7750, -122.4183]).addTo(map);
			}
			</script>
    </div>
    <div class="span4">
    <h2>Search Restaurant</h2>
    <form id="form" action="/search/" method="get">
      <div class="success_wrapper">
      <div class="success">Contact form submitted!<br>
      <strong>We will be in touch soon.</strong> </div></div>
      <fieldset>
      <label class="name">
      <input type="text" name='q' value="Name:">
      <br class="clear">
	  </label>
	  <div class="clear"></div>
      <div class="btns"><input type="submit" value="Search"><br><br><input type="reset" value="Clear">
      <div class="clear"></div>
      </div></fieldset></form>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
