{% extends "skeleton.html" %}
{% load leaflet_tags %}
{% block link %}
    {% leaflet_css plugins="ALL" %}
{% endblock %}
{% block script %}
    {% leaflet_js plugins="ALL" %}
{% endblock %}
{% block content %}
	
	<!--Carousel-->
	<!--<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ STATIC_URL }}img/slide3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Foodcheck</h1>
              <p class="lead">Made for restaurant connoisseurs by connoisseurs who want to see the health report for local eateries.</p>
              <a class="btn btn-large btn-success" href="about">Learn More</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/slide4.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Geo-location Enabled</h1>
              <p class="lead">Use our locator to find eatery reports within your area.</p>
              <a class="btn btn-large btn-primary" href="#"></a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/slide2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Know that your meal is safe.</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-primary" href="#"></a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>--><!-- /.carousel -->

<!--Map-->
<div class="row">
    <div class="span9">
        <h3>Foodcheck Locator</h3>
        	{% leaflet_map "main" %}
			<script type="text/javascript">
                          function mainInit(map, bounds) {L.marker([37.7750, -122.4183]).addTo(map);
			}
                 </script>            
    </div>
    <div class="span3">
    <!--<h3>Search Restaurant</h3>-->
	
	<form>
    <fieldset>
    <legend>Search Eatery</legend>
    <label>Enter name:</label>
    <input type="text" name="" placeholder="Eatery">
    <button type="button" class="btn" value="">Search</button>
    </fieldset>
    </form>
	
	</div>
</div>

<!--Results list-->
<div class="row">
    
    {% if businesses %}
    {% for business in businesses %}
    <table class="table table-hover">
    	<tr>
			<td>{{businesses.name}}</td>
			<td>row 1, cell 2</td>
		</tr>
		<tr>
			<td>row 2, cell 1</td>
			<td>row 2, cell 2</td>
		</tr>
    </table>
    {% endfor %}
    
    {% else %}
    <p>No eateries match your search criteria.</p>
    {% endif %}
    
   
</div>
{% endblock %}
