{% extends "skeleton.html" %}     
{% block content %}
  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ STATIC_URL }}img/slide3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Foodcheck</h1>
              <p class="lead">Made for restaurant connoisseurs who want to see the health report for local eateries.</p>
              <a class="btn btn-warning" href="/">Search Now</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/slide2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Know what you are eating.</h1>
              <!--<p class="lead"></p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>-->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/slide1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Geo-location finds safe eateries within your area.</h1>
              <!--<p class="lead"></p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
 
 <!-- Content
 ====================================================== -->
 	<div class="row">
    	<div class="span12">
          <h3>About</h3>
          <p>Foodcheck.us provides users with eateries’ inspection ratings within the city of San Francisco via search or geo-location of their web browser. San Francisco is providing the merchant data, the inspections, and violations. The application architecture and infrastructure is built in a way for scalability and performance for the input of additional datasets from other cities. We hope to continue adding municipal records to our database to share with connoisseurs across the country. <strong>Bon Appétit!!!</strong>
          </p>
          <!--<p><a class="btn" href="/">Search Now &raquo;</a></p>-->
    	</div>
        <div class="row">
        <center><div class="span4">
          <h4>Timothy Austen</h4>
          <p><a class="btn btn-info" href="http://www.linkedin.com/pub/timothy-austen/20/a4b/521" target="_blank">LinkedIn &raquo;</a></p>
        </div></center>
        <center><div class="span4">
          <h4>Richard Esplin</h4>
          <p><a class="btn btn-info" href="http://www.linkedin.com/in/richardesplin" target="_blank">LinkedIn &raquo;</a></p>
       </div></center>
        <center><div class="span4">
          <h4>Qiuhua Lin</h4>
          <p><a class="btn btn-info" href="http://www.linkedin.com/pub/qiuhua-lin/32/838/6a8" target="_blank">LinkedIn &raquo;</a></p>
        </div></center>
    </div>
 </div>
{% endblock %}
