{% extends "skeleton.html" %}
{% load leaflet_tags %}
{% block link %}
    <link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.ie.css" /><![endif]-->
{% endblock %}
{% block script %}
    <script>L_PREFER_CANVAS = true;</script>
{% endblock %}
{% block content %}
<p>Search box</p>
<p>Map</p>
    <h1>Django-Leaflet</h1>
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_map "main" %}
{% endblock %}
